@media (max-width: 1439px) {
    .services {
        &__content {
            flex-wrap: wrap;
        }
        &__item {
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 992px) {
    .services {
        &__title {
            font-size: 42px;
        }
        .rhombus {
            li {
                width: 8px;
                height: 8px;
            }
        }
        &__tab {
            div {
                font-size: 28px;
            }
        }
        
    }
}
@media (max-width: 768px) {
    .services {
        padding-top: 80px;
        &__content {
            justify-content: center;
        }
    }
}
@media (max-width: 576px) {
    .services {
        &__tabs {
            width: 100%;
            justify-content: center;
            li {
                &:last-child {
                    margin-left: 20px;
                }
                div {
                    padding: 10px 20px 10px 20px;                  
                }
            }
        }
    }
}